#nav_menu ul {
    list-style-type: none;  
    margin: 0;              
    padding: 0;             
    position: relative;     

#nav_menu ul li {
    float: left;           
    margin-right: 20px;    
    position: relative;    

#nav_menu ul li a {
    display: block;         
    width: 18%;             
    text-align: center;    
    padding: 1em 0;         
    text-decoration: none;  
    background-color: #800000; 
    color: white;          
    font-weight: bold;      
#nav_menu ul li a.current {
    color: yellow;         
}

#nav_menu ul li ul {
    display: none;              
    position: absolute;          
    top: 100%;                   
    left: 0;                     
    background-color: #800000;   
    padding: 0;                  
    margin: 0;                  
}

#nav_menu ul li:hover > ul {
    display: block;              

#nav_menu ul li ul li {
    float: none;                 
    width: 100%;                 
    text-align: left;             
}

#nav_menu::after {
    content: "";                 
    display: block;             
    clear: both;                 

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    width: 800px;
    margin: 0 auto;
    border: 3px solid #931420;
    background-color: #fffded;
}

header {
    padding-top: 1.5em;
    padding-bottom: 2em;
    border-bottom: 3px solid #931420;
    background: linear-gradient(30deg, #f6bb73 0%, #f6bb73 30%, white 50%, #f6bb73 80%, #f6bb73 100%);
}

header img {
    float: left;
    padding-right: 30px;
}

header h2, header h3 {
    text-indent: 0;
    padding: 0;
}

section {
    width: 525px;
    float: right;
    padding: 20px;
    margin-left: 30px;
}

section h2 {
    border: 3px double #931420;
    border-radius: 12px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
    padding: 10px;
    margin-bottom: 20px;
    background-color: #f9f9f9;
}

aside {
    width: 215px;
    float: right;
    padding-left: 20px;
    padding-bottom: 20px;
    margin-left: 30px;
}

aside h2 {
    border: 3px double #931420;
    border-radius: 12px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
    padding: 10px;
    margin-bottom: 20px;
    background-color: #f9f9f9;
}

main {
    padding: 0;
}

h1 {
    font-size: 150%;
    padding-top: 0.5em;
    padding-bottom: 0.25em;
    margin: 0;
}

footer {
    background-color: #931420;
    padding: 10px 0;
    text-align: center;
    clear: both;
}

footer p {
    color: white;
    margin: 0;
}

blockquote {
    font-style: italic;
}

article img {
    float: right;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 1.5em;
    border: 1px solid black;
}
